
/* Fonts */
$fa: 'FontAwesome', sans-serif;

/* Shades of white  #ffffff */
$white: rgba(255,255,255,1.0);
$white_90: rgba(255,255,255,0.9);
$white_75: rgba(255,255,255,0.75);
$white_50: rgba(255,255,255,0.5);
$white_25: rgba(255,255,255,0.25);
$white_10: rgba(255,255,255,0.1);

/* Shades of black  #3a3a3a */
$black: rgba(0,0,0,1.0);
$black_90: rgba(0,0,0,0.9);
$black_75: rgba(0,0,0,0.75);
$black_50: rgba(0,0,0,0.5);
$black_25: rgba(0,0,0,0.25);
$black_10: rgba(0,0,0,0.1);

/* Shades of gray  #DFDFDF */
$gray: rgba(223,223,223,1.0);
$gray_90: rgba(223,223,223,0.9);
$gray_75: rgba(223,223,223,0.75);
$gray_50: rgba(223,223,223,0.5);
$gray_25: rgba(223,223,223,0.25);
$gray_10: rgba(223,223,223,0.1);

/* Shades of blue  #362f4d */
$blue: rgba(54,47,77,1.0);
$blue_90: rgba(54,47,77,0.9);
$blue_75: rgba(54,47,77,0.75);
$blue_50: rgba(54,47,77,0.5);
$blue_25: rgba(54,47,77,0.25);
$blue_10: rgba(54,47,77,0.1);
/* Shades of blue */
$blue_hi: rgba(87,75,124,1.0); // #574B7C
$blue_xhi: rgba(123,110,166,1.0); // #7B6EA6
$blue_low: rgba(31,27,45,1.0); // #1F1B2D

/* Shades of yellow  #f5a40e */
$yellow: rgba(245,164,14,1.0);
$yellow_90: rgba(245,164,14,0.9);
$yellow_75: rgba(245,164,14,0.75);
$yellow_50: rgba(245,164,14,0.5);
$yellow_25: rgba(245,164,14,0.25);
$yellow_10: rgba(245,164,14,0.1);
/* Shades of yellow */
$yellow_hi: rgba(248,191,87,1.0); // #F8BF57
$yellow_xhi: rgba(251,219,160,1.0); // #FBDBA0
$yellow_low: rgba(175,116,7,1.0); // #AF7407

/* Shades of green  #545403 */
$green: rgba(84,84,3,1.0);
$green_90: rgba(84,84,3,0.9);
$green_75: rgba(84,84,3,0.75);
$green_50: rgba(84,84,3,0.5);
$green_25: rgba(84,84,3,0.25);
$green_10: rgba(84,84,3,0.1);
/* Shades of green */
$green_hi: rgba(157,157,5,1.0); // #9D9D05
$green_xhi: rgba(231,231,8,1.0); // #E7E708
$green_low: rgba(34,34,1,1.0); // #222201

/* Shades of red  #581502 */
$red: rgba(88,21,2,1.0);
$red_90: rgba(88,21,2,0.9);
$red_75: rgba(88,21,2,0.75);
$red_50: rgba(88,21,2,0.5);
$red_25: rgba(88,21,2,0.25);
$red_10: rgba(88,21,2,0.1);
/* Shades of red */
$red_hi: rgba(162,38,3,1.0); // #A22603
$red_xhi: rgba(237,56,5,1.0); // #ED3805
$red_low: rgba(38,9,0,1.0); // #260900
